<ng-template #form>
  <div [formGroup]="billingCreateForm"  class="form-group m-4 mat-elevation-z8">
    <mat-form-field class="mr-4" appearance="outline">
      <input matInput formControlName="price" [type]="'number'" />
      <mat-label>Amount</mat-label>
      <mat-error>Please enter amount greater that zero</mat-error>
    </mat-form-field>

    <mat-form-field class="mr-4" appearance="outline">
      <input matInput formControlName="paid_on" [max]="maxDate" [matDatepicker]="picker1" [type]="'text'" />
      <mat-label>Payment Date</mat-label>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mr-4" appearance="outline">
      <textarea matInput formControlName="comments"> </textarea>
      <mat-label>Commments</mat-label>
    </mat-form-field>

    <mat-form-field class="mr-4" appearance="outline">
      <input matInput formControlName="monthly_interest" [type]="'number'" />
      <mat-label>Interest Rate</mat-label>
    </mat-form-field>

    <mat-form-field class="mr-4" appearance="outline">
      <mat-label>Interest Type</mat-label>
      <mat-select [compareWith]="compareWith" formControlName="interest_type">
        <mat-option *ngFor="let interestType of interestTypes" [value]="interestType">
          {{ interestType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button type="button"  class='mr-3' (click)="onCancel($event)" mat-raised-button color="secondary">
        cancel
      </button>
    <button [disabled]="billingCreateForm.invalid" type="button" (click)="onSubmit()" mat-raised-button color="primary">
      submit
    </button>
  </div>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="form"></ng-container>

