<div class='header primary-font white primary-background d-flex justify-content-between align-items-center' >
  <span class='pl-3 ' routerLink="/">Record Keeper</span>
  <button (click)="onIconClick()" *ngIf="!isDesktop" mat-icon-button class="rk-icon"
    aria-label="rk icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <button mat-icon-button class="rk-icon" aria-label="icon-button with settings icon">
      <mat-icon (click)="closeApp()">close</mat-icon>
    </button>
  </div>
</div>
