:host {
  display: block;
  max-height: 10vh;
}

.new-user {
  padding: 0 10px 0 10px;
  width: 18vw;
  > button {
    width: 100%;
  }
}

.footer {
  height: 8.5vh;
  border: 1px solid var(--primary-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
