@import '../../scss/abstracts/variables';

:host {
  display: block;
  margin: 0px 20px 0px 20px;
}

.form-group {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 25px;
}

.mr-4 {
  padding-right: 16px;
}

.mat-option {
  line-height: normal;
}

.no-data-color {
  display: flex;
  justify-content: center;
  background-color: white;
}

.waring-snackbar {
  background-color: red;
}

textarea {
  resize: none !important;
}

.table-checkbox-header-column,
.table-checkbox-column {
  flex: 0 0 6%;
}

.product-details-column,
.product-details-header-column {
  flex: 0 0 25%;
}

.interest-details-column,
.interest-details-header-column {
  flex: 0 0 25%;
}

.detail-row {
  display: none;
}

.expanded-row + .detail-row {
  display: flex;
}

.editsection-column {
  width: 100%;
}

.summary-card {
  background-color: white;
  padding: 15px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 25px;
}
