<div   *ngIf='show' class='row pop-up pop-up--full-background justify-content-center align-items-center'>
  <div  class='pop-up__dialog row'>
    <div class='pop-up__header col-12-12'>
      {{title}}
    </div>

    <div  #body1  class='pop-up__body col-12-12'>
      <ng-container *ngComponentOutlet='body'>

      </ng-container>
    </div>

    <div  class='pop-up__footer justify-content-flex-end col-xs-12-12'>
      <button (click)='onSubmit()'>Apply</button>
      <button (click)='closePopUp()'>Cancel</button>
    </div>
  </div>
</div>