<div class='row pop-up pop-up--full-background justify-content-center align-items-center'>
  <div class='pop-up__dialog row'>
    <div class='pop-up__header col-xs-12-12'>
      dfsa dfasasfsa
    </div>

    <div class='pop-up__body col-xs-12-12'>
dsfas
    </div>

    <div class='pop-up__footer col-xs-12-12'>
dfsa
    </div>

    <div class="gradient-box col-xs-12-12">

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh
        elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut.
        Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque
        rhoncus. Curabitur a bibendum est. </p>

    </div>
  </div>
</div>