.pop-up {
    //background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    &__dialog {
        border: 0.1rem solid var(--primary-color);
        background-color: white;

        @media screen and (min-width:0px) {
            width: 80%;
        }

        @media screen and (min-width:768px) {
            width: 40%;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__header {
        padding: 0.5rem;
        color:transparent;
        font-size: 50px;
        background-clip: text;
        background-image: linear-gradient(to left,var(--light),var(--dark),var(--light));;
    }


    &--full-background {
        width: 100%;
        height: 100%;
    }

    &--medium {}

    &--small {}

    &--large {}

    &--full {}
}

.gradient-box {
  
    display: flex;
    align-items: center;
    box-sizing: border-box;
  
    $border: 5px;
    color: #FFF;
    background: #000;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, red, orange);
    }
  }
