<div class='totals' [class]="getTotals()>0? 'green': 'red'">
  {{getTotals() | currency: 'inr':'₹':'1.0-2'}}
</div>
<div class='users-list selection'>
  <div  class='mat-list-option' [class.selected]='_selectedUser===user' (click)='redirectToUserOrdersPage(user)'
  *ngFor='let user of users'>
    <div>
      <div>{{user.first_name}} {{user.last_name}}</div>
      <div class='' [ngClass]='user && user.totals && user.totals.remainingAmount > 0?"green":"red"'>
        {{ user && user.totals && user.totals.remainingAmount | currency:'inr':'₹':'1.0-2'}}
      </div>
    </div>
  </div>
</div>

