<div class="form-group" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }} </mat-label>
    <input type="text" matInput formControlName="inputValue" [matAutocomplete]="auto" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="userSearchTerm = ''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete (optionSelected)="onOptionSelect($event)" #auto="matAutocomplete">
      <ng-container>
        <mat-option class="mat-option" *ngFor="let option of data" [value]="option">
          <div>
            <div>{{ option.first_name }} {{ option.last_name }}</div>
            <div>{{ option.phone_number }}</div>
          </div>
        </mat-option>
        <mat-option *ngIf="!data || !(data && data.length)">
          {{ addButtonText }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
