@media screen and (min-width: 0px) {
  .col-1-10 {
    flex: 0 1 10%; }
  .col-2-10 {
    flex: 0 1 20%; }
  .col-3-10 {
    flex: 0 1 30%; }
  .col-4-10 {
    flex: 0 1 40%; }
  .col-5-10 {
    flex: 0 1 50%; }
  .col-6-10 {
    flex: 0 1 60%; }
  .col-7-10 {
    flex: 0 1 70%; }
  .col-8-10 {
    flex: 0 1 80%; }
  .col-9-10 {
    flex: 0 1 90%; }
  .col-10-10 {
    flex: 0 1 100%; } }

@media screen and (min-width: 567px) {
  .col-xs-1-10 {
    flex: 0 1 10%; }
  .col-xs-2-10 {
    flex: 0 1 20%; }
  .col-xs-3-10 {
    flex: 0 1 30%; }
  .col-xs-4-10 {
    flex: 0 1 40%; }
  .col-xs-5-10 {
    flex: 0 1 50%; }
  .col-xs-6-10 {
    flex: 0 1 60%; }
  .col-xs-7-10 {
    flex: 0 1 70%; }
  .col-xs-8-10 {
    flex: 0 1 80%; }
  .col-xs-9-10 {
    flex: 0 1 90%; }
  .col-xs-10-10 {
    flex: 0 1 100%; } }

@media screen and (min-width: 768px) {
  .col-xs-1-10 {
    flex: 0 1 10%; }
  .col-xs-2-10 {
    flex: 0 1 20%; }
  .col-xs-3-10 {
    flex: 0 1 30%; }
  .col-xs-4-10 {
    flex: 0 1 40%; }
  .col-xs-5-10 {
    flex: 0 1 50%; }
  .col-xs-6-10 {
    flex: 0 1 60%; }
  .col-xs-7-10 {
    flex: 0 1 70%; }
  .col-xs-8-10 {
    flex: 0 1 80%; }
  .col-xs-9-10 {
    flex: 0 1 90%; }
  .col-xs-10-10 {
    flex: 0 1 100%; } }

@media screen and (min-width: 992px) {
  .col-md-1-10 {
    flex: 0 1 10%; }
  .col-md-2-10 {
    flex: 0 1 20%; }
  .col-md-3-10 {
    flex: 0 1 30%; }
  .col-md-4-10 {
    flex: 0 1 40%; }
  .col-md-5-10 {
    flex: 0 1 50%; }
  .col-md-6-10 {
    flex: 0 1 60%; }
  .col-md-7-10 {
    flex: 0 1 70%; }
  .col-md-8-10 {
    flex: 0 1 80%; }
  .col-md-9-10 {
    flex: 0 1 90%; }
  .col-md-10-10 {
    flex: 0 1 100%; } }

@media screen and (min-width: 1200px) {
  .col-xl-1-10 {
    flex: 0 1 10%; }
  .col-xl-2-10 {
    flex: 0 1 20%; }
  .col-xl-3-10 {
    flex: 0 1 30%; }
  .col-xl-4-10 {
    flex: 0 1 40%; }
  .col-xl-5-10 {
    flex: 0 1 50%; }
  .col-xl-6-10 {
    flex: 0 1 60%; }
  .col-xl-7-10 {
    flex: 0 1 70%; }
  .col-xl-8-10 {
    flex: 0 1 80%; }
  .col-xl-9-10 {
    flex: 0 1 90%; }
  .col-xl-10-10 {
    flex: 0 1 100%; } }

@media screen and (min-width: 0px) {
  .col-1-10-with-mrgn-lft {
    flex: 0 1 5.5%;
    margin-left: 5%; }
  .col-2-10-with-mrgn-lft {
    flex: 0 1 16%;
    margin-left: 5%; }
  .col-3-10-with-mrgn-lft {
    flex: 0 1 26.5%;
    margin-left: 5%; }
  .col-4-10-with-mrgn-lft {
    flex: 0 1 37%;
    margin-left: 5%; }
  .col-5-10-with-mrgn-lft {
    flex: 0 1 47.5%;
    margin-left: 5%; }
  .col-6-10-with-mrgn-lft {
    flex: 0 1 58%;
    margin-left: 5%; }
  .col-7-10-with-mrgn-lft {
    flex: 0 1 68.5%;
    margin-left: 5%; }
  .col-8-10-with-mrgn-lft {
    flex: 0 1 79%;
    margin-left: 5%; }
  .col-9-10-with-mrgn-lft {
    flex: 0 1 89.5%;
    margin-left: 5%; }
  .col-10-10-with-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 0px) {
  .col-1-10-no-mrgn-lft {
    flex: 0 1 5.5%; }
  .col-2-10-no-mrgn-lft {
    flex: 0 1 16%; }
  .col-3-10-no-mrgn-lft {
    flex: 0 1 26.5%; }
  .col-4-10-no-mrgn-lft {
    flex: 0 1 37%; }
  .col-5-10-no-mrgn-lft {
    flex: 0 1 47.5%; }
  .col-6-10-no-mrgn-lft {
    flex: 0 1 58%; }
  .col-7-10-no-mrgn-lft {
    flex: 0 1 68.5%; }
  .col-8-10-no-mrgn-lft {
    flex: 0 1 79%; }
  .col-9-10-no-mrgn-lft {
    flex: 0 1 89.5%; }
  .col-10-10-no-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 567px) {
  .col-xs-1-10-with-mrgn-lft {
    flex: 0 1 5.5%;
    margin-left: 5%; }
  .col-xs-2-10-with-mrgn-lft {
    flex: 0 1 16%;
    margin-left: 5%; }
  .col-xs-3-10-with-mrgn-lft {
    flex: 0 1 26.5%;
    margin-left: 5%; }
  .col-xs-4-10-with-mrgn-lft {
    flex: 0 1 37%;
    margin-left: 5%; }
  .col-xs-5-10-with-mrgn-lft {
    flex: 0 1 47.5%;
    margin-left: 5%; }
  .col-xs-6-10-with-mrgn-lft {
    flex: 0 1 58%;
    margin-left: 5%; }
  .col-xs-7-10-with-mrgn-lft {
    flex: 0 1 68.5%;
    margin-left: 5%; }
  .col-xs-8-10-with-mrgn-lft {
    flex: 0 1 79%;
    margin-left: 5%; }
  .col-xs-9-10-with-mrgn-lft {
    flex: 0 1 89.5%;
    margin-left: 5%; }
  .col-xs-10-10-with-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 567px) {
  .col-xs-1-10-no-mrgn-lft {
    flex: 0 1 5.5%; }
  .col-xs-2-10-no-mrgn-lft {
    flex: 0 1 16%; }
  .col-xs-3-10-no-mrgn-lft {
    flex: 0 1 26.5%; }
  .col-xs-4-10-no-mrgn-lft {
    flex: 0 1 37%; }
  .col-xs-5-10-no-mrgn-lft {
    flex: 0 1 47.5%; }
  .col-xs-6-10-no-mrgn-lft {
    flex: 0 1 58%; }
  .col-xs-7-10-no-mrgn-lft {
    flex: 0 1 68.5%; }
  .col-xs-8-10-no-mrgn-lft {
    flex: 0 1 79%; }
  .col-xs-9-10-no-mrgn-lft {
    flex: 0 1 89.5%; }
  .col-xs-10-10-no-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 768px) {
  .col-xs-1-10-with-mrgn-lft {
    flex: 0 1 5.5%;
    margin-left: 5%; }
  .col-xs-2-10-with-mrgn-lft {
    flex: 0 1 16%;
    margin-left: 5%; }
  .col-xs-3-10-with-mrgn-lft {
    flex: 0 1 26.5%;
    margin-left: 5%; }
  .col-xs-4-10-with-mrgn-lft {
    flex: 0 1 37%;
    margin-left: 5%; }
  .col-xs-5-10-with-mrgn-lft {
    flex: 0 1 47.5%;
    margin-left: 5%; }
  .col-xs-6-10-with-mrgn-lft {
    flex: 0 1 58%;
    margin-left: 5%; }
  .col-xs-7-10-with-mrgn-lft {
    flex: 0 1 68.5%;
    margin-left: 5%; }
  .col-xs-8-10-with-mrgn-lft {
    flex: 0 1 79%;
    margin-left: 5%; }
  .col-xs-9-10-with-mrgn-lft {
    flex: 0 1 89.5%;
    margin-left: 5%; }
  .col-xs-10-10-with-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 768px) {
  .col-xs-1-10-no-mrgn-lft {
    flex: 0 1 5.5%; }
  .col-xs-2-10-no-mrgn-lft {
    flex: 0 1 16%; }
  .col-xs-3-10-no-mrgn-lft {
    flex: 0 1 26.5%; }
  .col-xs-4-10-no-mrgn-lft {
    flex: 0 1 37%; }
  .col-xs-5-10-no-mrgn-lft {
    flex: 0 1 47.5%; }
  .col-xs-6-10-no-mrgn-lft {
    flex: 0 1 58%; }
  .col-xs-7-10-no-mrgn-lft {
    flex: 0 1 68.5%; }
  .col-xs-8-10-no-mrgn-lft {
    flex: 0 1 79%; }
  .col-xs-9-10-no-mrgn-lft {
    flex: 0 1 89.5%; }
  .col-xs-10-10-no-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 992px) {
  .col-md-1-10-with-mrgn-lft {
    flex: 0 1 5.5%;
    margin-left: 5%; }
  .col-md-2-10-with-mrgn-lft {
    flex: 0 1 16%;
    margin-left: 5%; }
  .col-md-3-10-with-mrgn-lft {
    flex: 0 1 26.5%;
    margin-left: 5%; }
  .col-md-4-10-with-mrgn-lft {
    flex: 0 1 37%;
    margin-left: 5%; }
  .col-md-5-10-with-mrgn-lft {
    flex: 0 1 47.5%;
    margin-left: 5%; }
  .col-md-6-10-with-mrgn-lft {
    flex: 0 1 58%;
    margin-left: 5%; }
  .col-md-7-10-with-mrgn-lft {
    flex: 0 1 68.5%;
    margin-left: 5%; }
  .col-md-8-10-with-mrgn-lft {
    flex: 0 1 79%;
    margin-left: 5%; }
  .col-md-9-10-with-mrgn-lft {
    flex: 0 1 89.5%;
    margin-left: 5%; }
  .col-md-10-10-with-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 992px) {
  .col-md-1-10-no-mrgn-lft {
    flex: 0 1 5.5%; }
  .col-md-2-10-no-mrgn-lft {
    flex: 0 1 16%; }
  .col-md-3-10-no-mrgn-lft {
    flex: 0 1 26.5%; }
  .col-md-4-10-no-mrgn-lft {
    flex: 0 1 37%; }
  .col-md-5-10-no-mrgn-lft {
    flex: 0 1 47.5%; }
  .col-md-6-10-no-mrgn-lft {
    flex: 0 1 58%; }
  .col-md-7-10-no-mrgn-lft {
    flex: 0 1 68.5%; }
  .col-md-8-10-no-mrgn-lft {
    flex: 0 1 79%; }
  .col-md-9-10-no-mrgn-lft {
    flex: 0 1 89.5%; }
  .col-md-10-10-no-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 1200px) {
  .col-xl-1-10-with-mrgn-lft {
    flex: 0 1 5.5%;
    margin-left: 5%; }
  .col-xl-2-10-with-mrgn-lft {
    flex: 0 1 16%;
    margin-left: 5%; }
  .col-xl-3-10-with-mrgn-lft {
    flex: 0 1 26.5%;
    margin-left: 5%; }
  .col-xl-4-10-with-mrgn-lft {
    flex: 0 1 37%;
    margin-left: 5%; }
  .col-xl-5-10-with-mrgn-lft {
    flex: 0 1 47.5%;
    margin-left: 5%; }
  .col-xl-6-10-with-mrgn-lft {
    flex: 0 1 58%;
    margin-left: 5%; }
  .col-xl-7-10-with-mrgn-lft {
    flex: 0 1 68.5%;
    margin-left: 5%; }
  .col-xl-8-10-with-mrgn-lft {
    flex: 0 1 79%;
    margin-left: 5%; }
  .col-xl-9-10-with-mrgn-lft {
    flex: 0 1 89.5%;
    margin-left: 5%; }
  .col-xl-10-10-with-mrgn-lft {
    flex: 0 1 100%; } }

@media screen and (min-width: 1200px) {
  .col-xl-1-10-no-mrgn-lft {
    flex: 0 1 5.5%; }
  .col-xl-2-10-no-mrgn-lft {
    flex: 0 1 16%; }
  .col-xl-3-10-no-mrgn-lft {
    flex: 0 1 26.5%; }
  .col-xl-4-10-no-mrgn-lft {
    flex: 0 1 37%; }
  .col-xl-5-10-no-mrgn-lft {
    flex: 0 1 47.5%; }
  .col-xl-6-10-no-mrgn-lft {
    flex: 0 1 58%; }
  .col-xl-7-10-no-mrgn-lft {
    flex: 0 1 68.5%; }
  .col-xl-8-10-no-mrgn-lft {
    flex: 0 1 79%; }
  .col-xl-9-10-no-mrgn-lft {
    flex: 0 1 89.5%; }
  .col-xl-10-10-no-mrgn-lft {
    flex: 0 1 100%; } }
