<div *ngIf='users && users.length' class='m-4 mat-elevation-z8'>
  <div class='summary bb-1'>
    <div hidden>{{getTotals()}}</div>
    <div class="d-flex bb-1 breakups">
      <div class='d-flex fz-1 br-1 justify-content-center you-will-give align-items-center red'>{{total.youWillGive |
        currency:'inr':'₹':'1.0-2'}}</div>
      <div class='d-flex fz-1 justify-content-center you-will-get align-items-center green'>{{total.youWillGet |
        currency:'inr':'₹':'1.0-2'}}</div>
    </div>
    <div [class]='total.remainingAmount>0? "green":"red"'
      class='d-flex fz-1 justify-content-center remaining-amount align-items-center'>
      {{total.remainingAmount | currency:'inr':'₹':'1.0-2'}}
    </div>
  </div>
  <div>
    <app-dropdown class='pt-4 w-100' hideOptions='true' (filterResults)="onFilter($event)" [options]='usersCopy'
      (searchTerm)='onSearchTerm(value)' typeAhead='true' key='first_name'></app-dropdown>
  </div>
  <div class='overflow-y-scroll customer-names-section'>
    <ng-container *ngIf="!isEmpty">
      <div class='p-4 bb-1'
        [class]='_selectedUser.id===user.id?"primary-background white mat-elevation-z8":"white-background"'
        (click)='redirectToUserOrdersPage(user)' *ngFor='let user of users'>
        <div>
          <div class='primary-font fw-lighter pb-2'>{{user.first_name}} {{user.last_name}}</div>
          <div class='secondary-font'
            [ngClass]='user && user.totals && user.totals.remainingAmount > 0?_selectedUser.id===user.id?"lightgreen":"green":"red"'>
            {{ (user && user.totals && user.totals.remainingAmount) || 0 | currency:'inr':'₹':'1.0-2'}}
          </div>
        </div>
      </div>
    </ng-container>
    <div [class]='isEmpty?"d-block":"d-none"' class='primary-font fw-lighter p-4 bb-1'>
      No Customer
    </div>
  </div>

</div>
<div *ngIf='users && !users.length'
  class='m-4 p-3 no-records mat-elevation-z8 overflow-y-scroll d-flex justify-content-center align-items-center'>
  <div>It Seems you don't have any Customers.Please add the Customers</div>
</div>
<img class='new-user new-user-absolute' (click)='addNewUser()' src="assets/icons/person-add.icon.svg" alt="New User">
