<div class='b-1 m-4 mat-elevation-z8 container'>
  <div class='summary bb-1'>
    <div hidden>{{getTotals()}}</div>
    <div class="d-flex bb-1 breakups">
      <div class='d-flex fz-1 br-1 justify-content-center you-will-give align-items-center red'>{{total.youWillGive |
        currency:'inr':'₹':'1.0-2'}}</div>
      <div class='d-flex fz-1 justify-content-center you-will-get align-items-center green'>{{total.youWillGet |
        currency:'inr':'₹':'1.0-2'}}</div>
    </div>
    <div  [class]='total.remainingAmount>0? "green":"red"' class='d-flex fz-1 justify-content-center remaining-amount align-items-center'>
      {{total.remainingAmount | currency:'inr':'₹':'1.0-2'}}
    </div>
  </div>

  <div>
    <div class='p-4 bb-1' [class]='_selectedUser.id===user.id?"primary-background white mat-elevation-z8":"white-background"'
      (click)='redirectToUserOrdersPage(user)' *ngFor='let user of users'>
      <div>
        <div class='primary-font fw-lighter pb-2'>{{user.first_name}} {{user.last_name}}</div>
        <div class='secondary-font' [ngClass]='user && user.totals && user.totals.remainingAmount > 0?_selectedUser.id===user.id?"lightgreen":"green":"red"'>
          {{ (user && user.totals && user.totals.remainingAmount) || 0 | currency:'inr':'₹':'1.0-2'}}
        </div>
      </div>
    </div>
  </div>

  <img class='new-user new-user-absolute' (click)='addNewUser()' src="assets/icons/person-add.icon.svg" alt="New User">
</div>
