.new-user {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 50px;
  min-width: 50px;
  background-color: lightgray;
  border-radius: 50%;
  padding: 6px;
}

.summary {
  height: 150px;
}

.remaining-amount {
  height: 50%;
}

.you-will-get {
  flex: 0 0 50%;
}

.you-will-give {
  flex: 0 0 50%;
}

.breakups {
  height: 50%;
}

:host {
  & ::-webkit-scrollbar-thumb {
    display: none;
  }
  border: 1px solid var(--primary-border-color);
  position: relative;
  min-height: calc(100vh - var(--header-height));;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
}

.no-records {
  height: 30%;
}

.customer-names-section {
  max-height: calc(100vh - 150px - 36px - 13rem);
}

