<app-loader [show]='showLoader'></app-loader>

<div *ngIf='!showLoader' class='summary primary-border'>
  <div hidden>{{getTotals()}}</div>
  <div class="d-flex breakups primary-border">
    <div class='d-flex justify-content-center you-will-give primary-border align-items-center'>{{total.youWillGive}}</div>
    <div class='d-flex justify-content-center you-will-get primary-border align-items-center'>{{total.youWillGet}}</div>
  </div>
  <div class='d-flex justify-content-center remaining-amount align-items-center'>
    {{total.remainingAmount}}
  </div>
</div>

<div *ngIf='!showLoader'>
  <button class='new-user' mat-raised-button color='primary'>New User</button>
  <div class='primary-border p-4' [class.selected]='_selectedUser===user' (click)='redirectToUserOrdersPage(user)'
  *ngFor='let user of users'>
    <div>
      <div class='secondary-font semi-bold pb-2'>{{user.first_name}} {{user.last_name}}</div>
      <div [ngClass]='user && user.totals && user.totals.remainingAmount > 0?"green":"red"'>
        {{ user && user.totals && user.totals.remainingAmount | currency:'inr':'₹':'1.0-2'}}
      </div>
    </div>
  </div>
</div>

