.mat-elevation-z8 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.positive {
  background-color: green;
}

.negetive {
  background-color: red;
}

.green-background {
  background-color: green;
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}

.white-background {
  background-color: white;
}
