.primary-border {
  border: 0.0625rem solid var(--primary-border-color);
}

.b-1 {
  border: 0.0625rem solid var(--primary-border-color);
}
.br-1 {
  border-right: 0.0625rem solid var(--primary-border-color);
}

.bl-1 {
  border-left: 0.0625rem solid var(--primary-border-color);
}

.bb-1 {
  border-bottom: 0.0625rem solid var(--primary-border-color);
}

.bt-1 {
  border-bottom: 0.0625rem solid var(--primary-border-color);
}
