:root {
    --primary-color: #816CBE;
    --secondary-color: #065fd4;
    --purple-light: #5d1674;
    --purple-dark: #2f0047;
    --primary-border-color:#dddddd;
    --root-background: white;
}

$primary-color: #816CBE;
$secondary-color:#065fd4;