:root {
    --primary-color: rgba(0, 128, 128, 1);
    --secondary-color: #065fd4;
    --purple-light: #5d1674;
    --purple-dark: #2f0047;
}

$primary-color: rgba(0, 128, 128, 1);
$secondary-color:#065fd4;