//1.875rem equivalant to 30px if 1rem = 16px;
//1.25rem equivalant to 20px if 1rem = 16px;

.m-primary {
  margin: 1.875rem;
}
.m-b-primary {
  margin-bottom: 1.875rem;
}
.m-l-primary {
  margin-left: 1.875rem;
}
.m-r-primary {
  margin-left: 1.875rem;
}
.m-t-primary {
  margin-top: 1.875rem;
}

.m-secondary {
  margin: 1.25rem;
}

.m-b-secondary {
  margin-bottom: 1.25rem;
}

.m-t-secondary {
  margin-top: 1.25rem;
}

.m-l-secondary {
  margin-left: 1.25rem;
}

.m-r-secondary {
  margin-right: 1.25rem;
}

.m-ternary {
  margin: 0.3125rem;
}

.m-b-ternary {
  margin-bottom: 0.3125rem;
}

.m-t-ternary {
  margin-top: 0.3125rem;
}

.m-l-ternary {
  margin-left: 0.3125rem;
}

.m-r-ternary {
  margin-right: 0.3125rem;
}
