//1.875rem equivalant to 30px if 1rem = 16px;
//1.25rem equivalant to 20px if 1rem = 16px;

.p-primary{
    padding:1.875rem; 
}
.p-b-primary{
    padding-bottom:1.875rem; 
}
.p-l-primary{
    padding-left:1.875rem; 
}
.p-r-primary{
    padding-left:1.875rem; 
}
.p-t-primary{
    padding-top: 1.875rem;
}

.p-secondary{
    padding:1.25rem;
}

.p-b-secondary{
    padding-bottom:1.25rem;
}

.p-t-secondary{
    padding-top:1.25rem;
}

.p-l-secondary{
    padding-left:1.25rem;
}

.p-r-secondary{
    padding-right:1.25rem;
}

.p-ternary{
    padding:0.3125rem;
}

.p-b-ternary{
    padding-bottom:0.3125rem;
}

.p-t-ternary{
    padding-top:0.3125rem;
}

.p-l-ternary{
    padding-left:0.3125rem;
}

.p-r-ternary{
    padding-right:0.3125rem;
}