html {
  font-size: 62.5%;
}

* {
  padding: 0rem;
  margin: 0rem;
  border: 0rem;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

ul,
li {
  list-style-type: none;
}

:focus {
  outline: 0rem;
}

body {
  & *::-webkit-scrollbar {
    width: 5px;
  }
}

body {
  * ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    outline: 1px solid var(--primary-color);
  }
}
