@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --primary-font: 'Montserrat', 'roboto', Arial, Helvetica, sans-serif;
}
$primary-font: 'Montserrat', 'roboto', Arial, Helvetica, sans-serif;

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.fw-lighter {
  font-weight: lighter;
}

.primary-font {
  font-size: 20px;
}

.fz-1 {
  font-size: 20px;
}

.secondary-font {
  font-size: 16px;
}

.fz-2 {
  font-size: 16px;
}

.ternary-font {
  font-size: 13px;
}
