@import '../../scss/abstracts/variables';

:host {
  display: block;
  margin: 0px 20px 0px 20px;
}

.form-group {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 40px;
}

.detail-row {
  display: none;
}

.expanded-row + .detail-row {
  display: flex;
}

.sub-payments-details-column > mat-table {
  width: 100%;
}

.mr-4 {
  padding-right: 16px;
}

.mat-option {
  line-height: normal;
}

.no-data-color {
  display: flex;
  justify-content: center;
  background-color: white;
}

.waring-snackbar {
  background-color: red;
}

textarea {
  resize: none !important;
}
