<form class='col-12-12 col-sm-10-12 col-md-6-12 form-section background-white p-primary display-flex justify-content-center flex-direction-column'
    #form='ngForm'>
    <div class='m-b-primary'>
        <app-inputtext [id]='"phonenumber"' [label]='"Phone Number"' [(ngModel)]='phonenumber' #pn1='ngModel' required
            [name]="'phonenumber'"></app-inputtext>
        <div *ngIf='pn1.invalid' class='error'>error</div>
    </div>
    <div class='m-b-primary'>
        <app-inputtext [id]='"Password"' [label]='"Password"' [(ngModel)]='password' #pass='ngModel' required
            [name]="'password'"></app-inputtext>
        <div *ngIf='pass.invalid' class='error'>error</div>
    </div>
    <div class='button-section'>
        <app-button class='m-r-ternary m-b-secondary' (click)='onSubmit(form)'>SUBMIT</app-button>
        <app-cancel-button>Cancel</app-cancel-button>
    </div>
</form>