
<div [formGroup] = 'billingCreateForm' class='form-group'>
  <mat-form-field  class='mr-4'  appearance="outline">
    <mat-label>User Name or Phone Number</mat-label>
    <input matInput [matAutocomplete]='auto' formControlName='user' type="text" name="search" id="search">
    <mat-autocomplete [displayWith]='userDisplayFn' #auto>
      <ng-container *ngIf="userSearch | async as us">
        <mat-option (click) ='onOptionClick(option)' class='mat-option' *ngFor="let option of us" [value]="option">
          <div>
            <div>{{option.first_name}} {{option.last_name}}</div>
            <div>{{option.phone_number}}</div>
          </div>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field  class='mr-4' appearance="outline">
    <input matInput formControlName='price' [type]="'number'">
    <mat-label>Amount</mat-label>
    <mat-error>Please enter amount greater that zero</mat-error>
  </mat-form-field>

  <mat-form-field class='mr-4 ' appearance="outline">
    <input matInput formControlName='paid_on' [max]="maxDate" [matDatepicker]="picker1" [type]="'text'">
    <mat-label>Payment Date</mat-label>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class='mr-4' appearance="outline">
    <textarea matInput formControlName='comments'> </textarea>
    <mat-label>Commments</mat-label>
  </mat-form-field>

  <button [disabled]='billingCreateForm.invalid' type="button" (click) =  'onSubmit($event)' mat-raised-button color="primary">submit</button>
</div>

<mat-table *ngIf = 'billingDetails && billingDetails.length' [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell class='table-checkbox-header-column' *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell  class='table-checkbox-column' *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell class='table-checkbox-column' *matFooterCellDef></mat-footer-cell>
    </ng-container>


  <ng-container matColumnDef="period">
    <mat-header-cell *matHeaderCellDef> Period</mat-header-cell>

    <mat-cell *matCellDef="let element">
      <div>
        <div> Start Date: {{element['ordered_on'] | date: 'dd/MM/yyyy'}}</div>
        <div> End: {{element['today'] | date: 'dd/MM/yyyy'}}</div>
        <div> Days Since Purchase: {{element['days_since_purchase']}}</div>
      </div>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="productInfo">
    <mat-header-cell class='product-details-header-column' *matHeaderCellDef>Product Details</mat-header-cell>
    <mat-cell class='product-details-column' *matCellDef="let element">
      <div>
        <div>Product/Category Name: {{element['product_name']}} </div>
        <div *ngIf="element && element['comments']">Comments: {{element['comments']}}</div>
        <div>unit Price: {{element['unit_price']}}</div>
        <div>Quantity/Amount: {{ element['quantity'] | currency:'inr':'₹': '1.0-0'}}</div>
        <div>Total Cost : {{element['initial_cost']}}</div>
      </div>
     </mat-cell>
     <mat-footer-cell class='product-details-column' *matFooterCellDef>{{totalPrincipal | currency:'inr':'₹': '1.0-2'}}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="interestDetails">
    <mat-header-cell class='interest-details-header-column' *matHeaderCellDef>Interest Details </mat-header-cell>
    <mat-cell class='interest-details-column' *matCellDef="let element">
      <div>
        <div>Interest Type: {{ element['interest_type']}} </div>
        <div>Interest Rate({{element['rate_of_interest'] | currency:'inr':'₹': '1.0-2'}})</div>
        <div>Total Interest Accrued{{element['interest_accrued'] | currency:'inr':'₹': '1.0-2'}}</div>
      </div>
    </mat-cell>
    <mat-footer-cell class='interest-details-column' *matFooterCellDef>{{totalInterest | currency:'inr':'₹': '1.0-2'}}</mat-footer-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="interestDetails">
    <mat-header-cell class='interest-details-header-column' *matHeaderCellDef>Previous Payments </mat-header-cell>
    <mat-cell class='interest-details-column' *matCellDef="let element">
      <div>
        <div> </div>
        <div></div>
        <div></div>
      </div>
    </mat-cell>
    <mat-footer-cell class='interest-details-column' *matFooterCellDef>{{totalInterest | currency:'inr':'₹': '1.0-2'}}</mat-footer-cell>
  </ng-container> -->

  <ng-container matColumnDef="totalDebt" >
    <mat-header-cell *matHeaderCellDef> Total Debt</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element['total_debt']| currency:'inr':'₹': '1.0-2'}} </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{totalDebt | currency:'inr':'₹': '1.0-2' }}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="remainingAmount" >
    <mat-header-cell *matHeaderCellDef>Remaining Amount To Be Paid</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element['remaining_amount'] | currency:'inr':'₹': '1.0-2'}} </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{totalRemainingDebt | currency:'inr':'₹': '1.0-2' }}</mat-footer-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="paymentStatus" >
    <mat-header-cell *matHeaderCellDef>Payment Status</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element['payment_status'].name }} </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{totalDebt | currency:'inr':'₹': '1.0-2' }}</mat-footer-cell>
  </ng-container> -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <mat-footer-row *matFooterRowDef='displayedColumns' ></mat-footer-row>
  <!-- <mat-row class="mat-row" *matNoDataRow>
    <mat-cell class="mat-cell">No data to display</mat-cell>
  </mat-row > -->
</mat-table>
<mat-toolbar class="no-data-color mat-elevation-z8" *ngIf="billingDetails && !billingDetails.length">No Records Found</mat-toolbar>
