<!-- <mat-table>
  <ng-container matColumnDef=''>

  </ng-container>
</mat-table> -->
<div [formGroup] = 'billingCreateForm'>
  <mat-form-field appearance="outline">
    <mat-label>User Name or Phone Number</mat-label>
    <input matInput [matAutocomplete]='auto' formControlName='user' type="text" name="search" id="search">
    <mat-autocomplete [displayWith]='userDisplayFn' #auto>
      <ng-container *ngIf="userSearch | async as us">
        <mat-option (click) ='onOptionClick(option)' class='mat-option' *ngFor="let option of us" [value]="option">
          <div>
            <div>{{option.first_name}} {{option.last_name}}</div>
            <div>{{option.phone_number}}</div>
          </div>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>

<mat-table [dataSource]="billingDetails" class="mat-elevation-z8">

  <ng-container matColumnDef="period">
    <mat-header-cell *matHeaderCellDef> Period</mat-header-cell>

    <mat-cell *matCellDef="let element">
      <div>
        <div> Start Date: {{element['ordered_on'] | date: 'dd/MM/yyyy'}}</div>
        <div> End: {{element['today'] | date: 'dd/MM/yyyy'}}</div>
        <div> Days Since Purchase: {{element['days_since_purchase']}}</div>
      </div>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="productInfo">
    <mat-header-cell *matHeaderCellDef>Product Details</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div>
        <div>Product Name: {{element['product_name']}} </div>
        <div>unit Price: {{element['unit_price']}}</div>
        <div>Quantity: {{ element['quantity'] | currency:'inr':'₹': '1.0-0'}}</div>
        <div>Total Cost : {{element['initial_cost']}}</div>
      </div>
     </mat-cell>
     <mat-footer-cell *matFooterCellDef>{{totalPrincipal | currency:'inr':'₹': '1.0-2'}}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="interestDetails">
    <mat-header-cell *matHeaderCellDef>Interest Details </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div>
        <div>Interest Type: {{ element['interest_type']}} </div>
        <div>Interest Rate({{element['rate_of_interest'] | currency:'inr':'₹': '1.0-2'}})</div>
        <div>Total Interest Accrued{{element['interest_accrued'] | currency:'inr':'₹': '1.0-2'}}</div>
      </div>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{totalInterest | currency:'inr':'₹': '1.0-2'}}</mat-footer-cell>
  </ng-container>



  <ng-container matColumnDef="totalDebt" >
    <mat-header-cell *matHeaderCellDef> Total Debt</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element['total_debt'] | currency:'inr':'₹': '1.0-2'}} </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{totalDebt | currency:'inr':'₹': '1.0-2' }}</mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <mat-footer-row *matFooterRowDef='displayedColumns' ></mat-footer-row>
  <!-- <mat-row class="mat-row" *matNoDataRow>
    <mat-cell class="mat-cell">No data to display</mat-cell>
  </mat-row > -->
</mat-table>
<mat-toolbar class="no-data-color mat-elevation-z8" *ngIf="billingDetails && !billingDetails.length">No Records Found</mat-toolbar>
