<label *ngIf="label" class="m-b-ternary display-block" [attr.for]="id">{{ label }}</label>

<div class="dropdown-container" [id]="id">
  <div class="dropdown-toggle">
    <input
      autocomplete="off"
      class="dropdown-input"
      type="text"
      placeholder="Enter search string"
      *ngIf="typeAhead"
      #typing
      (input)="onTypeStart(typing.value)"
      [value]="(value && (key ? value[key] : value)) || ''"
      name="typeAhead"
      id="typeAhead"
    />
    <span [ngClass]="{ rotate: rotateIcon }" (click)="onButtonClick()">V</span>
  </div>

  <ul *ngIf="options.length" [ngClass]="displayList ? 'display-block' : 'display-none'" class="drowndown-list">
    <li class="dropdown-listitem" (click)="onOptionClick(option, o)" *ngFor="let option of options; let o = index">
      <input *ngIf="multi" type="checkbox" name="multi{{ o }}" id="multi{{ o }}" />
      <ng-container>
        {{ key ? option[key] : option }}
      </ng-container>
    </li>
  </ul>

  <div
    class="no-data drowndown-list"
    *ngIf="!options.length"
    [ngClass]="displayList ? 'display-block' : 'display-none'"
  >
    No Items
  </div>
</div>
