$no-of-columns: 10;
$margin-percent-between-columns:5;
$iphone-4s-min-width:320px;
$iphone-4s-max-width:480px;
$iphone-4s-pixel-ratio:2;
$orientation-portrait: portrait;
$orientation-landscape:landscape;
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

$xs: 567px;
$sm: 768px;
$md: 992px;
$xl:1200px;
$all:0px;