.rk-list {
  min-width: 90px;
}

.rk-list-item > img {
  @media screen and (min-width: 200px) {
    width: 100%;
  }
}

@media print {
  .recent-users-section {
    display: none;
  }
  app-header {
    display: none;
  }

  mat-sidenav-content {
    margin-left: 0 !important;
  }

  app-footer {
    display: none;
  }
}
