<app-loader></app-loader>
<app-header></app-header>
<div class='d-flex flex-column-reverse flex-md-row'>
  <div class='rk-list side mat-elevation-z8'>
    <div class='rk-list-item primary primary-font' [routerLink]='"/customers"'>
      <img src="assets/icons/customer-list.icon.svg" alt="Customers">
    </div>
    <div class='rk-list-item primary primary-font' [routerLink]='"/products"'>
      <img src="assets/icons/inventory.icon.svg" alt="">
    </div>
  </div>
  <div class='col-11'>
    <router-outlet>

    </router-outlet>
  </div>
</div>
