.recent-users-section {
  display: block;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar-thumb {
    width: 4px;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: #babac0;
  }
}

.rk-list {
  min-width: 90px;
  padding: 20px;
}

.rk-list-item > img {
  width: 100%;
  padding-bottom: 15px;
}

@media print {
  .recent-users-section {
    display: none;
  }
  app-header {
    display: none;
  }

  mat-sidenav-content {
    margin-left: 0 !important;
  }

  app-footer {
    display: none;
  }
}
