@import '../abstracts/variables';
@import '../abstracts/mixins';

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@include grid-columns($no-of-columns, $all);
@include grid-columns($no-of-columns, $sm);
@include grid-columns($no-of-columns, $md);
@include grid-columns($no-of-columns, $lg);
@include grid-columns($no-of-columns, $xl);

@include grid-columns-with-custom-left-margin($no-of-columns, 5%, $all);
@include grid-columns-with-custom-left-margin($no-of-columns, 5%, $sm);
@include grid-columns-with-custom-left-margin($no-of-columns, 5%, $md);
@include grid-columns-with-custom-left-margin($no-of-columns, 5%, $lg);
@include grid-columns-with-custom-left-margin($no-of-columns, 5%, $xl);
