<div class="form-group" [formGroup]="orderCreateForm">
  <mat-form-field class="mr-4" appearance="outline">
    <input matInput formControlName="product" [matAutocomplete]="productAuto" [type]="'text'" />
    <mat-label>Select Product/Category</mat-label>
    <mat-autocomplete (optionSelected)="onOptionSelect($event.option.value)" #productAuto="matAutocomplete"
      [displayWith]="productDisplayFn">
      <mat-option *ngFor="let option of productSearch | async as ps" [value]="option">
        <div class="product-name">{{ option.name }} ({{ option.interest_type.name }})</div>
        <div class="product-date">{{ option.created_on | date: 'dd/MM/yy hh:mm' }}</div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="mr-4" appearance="outline">
    <input matInput formControlName="ordered_on" [max]="maxDate" [matDatepicker]="picker1" [type]="'text'" />
    <mat-label>Issue Date</mat-label>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="mr-4" appearance="outline">
    <input matInput formControlName="comments" [type]="'text'" />
    <mat-label>Comments</mat-label>
  </mat-form-field>

  <mat-form-field class="mr-4" appearance="outline">
    <input matInput formControlName="quantity" [type]="'number'" />
    <mat-label>Quantity/Amount</mat-label>
  </mat-form-field>

  <button [disabled]="orderCreateForm.invalid || orderCreateForm.pristine" type="button" (click)="onSubmit($event)" mat-raised-button color="primary">
    submit
  </button>
</div>
